HYDRADB_HOST=127.0.0.1
HYDRADB_BOLT_PORT=7687
HYDRADB_HTTP_PORT=8443
HYDRADB_ADMIN_PORT=9090
HYDRADB_USER=neo4j
HYDRADB_PASSWORD=local-development-token-32-characters-long
HYDRADB_DATABASE=default
HYDRADB_NAMESPACE=default
HYDRADB_CELL_ID=cell-0
HYDRADB_PROTOCOL=bolt
HYDRADB_IMAGE=ghcr.io/hydra-db/hydradb@sha256:db78309a233be54662db29744047e985a39b51c45a270d1a1f47c31a62cdb709
HYDRADB_CONTAINER_NAME=continuum-hydradb
HYDRADB_STATE_DIR=hydradb-data
